
body{
  margin: 0px;
  padding: 0px;
}

li {
  color: #fff;
}

a {
  color: #fff
}

h1, h2, h3, h4, h5,p,small {
  color: #fff
}

:visited{
  color: #fff;
}

span {
  font-weight: bolder;
  font-size:1.5em;
}

small {
  font-size:0.7em;
}

p {
  margin: 0px;
  font-size:14px;
}

.secondary {
  color: #000
}